@charset "UTF-8";
section {
  background: #f4f5fa;
  padding: 4rem 0;
  position: relative;
}
@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }
}
section:before, section:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  background: #e0e2f0;
  width: 1px;
  height: 100%;
}
@media (max-width: 768px) {
  section:before, section:after {
    display: none;
  }
}
section:before {
  left: 33.333%;
}
section:after {
  right: 33.333%;
}

.main-btn {
  text-decoration: none;
}
.main-btn:focus {
  outline: 0 !important;
  box-shadow: none;
}
.main-btn-primary {
  background-color: #ec2c33;
  color: #fff;
  text-transform: uppercase;
}
.main-btn-primary:hover {
  background-color: #d3131a;
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-primary:active {
  background-color: #f25a61;
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary {
  background-color: #1f222d;
  color: #fff;
}
.main-btn-secondary:hover {
  color: #fff;
  background-color: #080b14;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary:active {
  color: #fff;
  background-color: #353849;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-ghost-primary {
  background: transparent;
  border: 1px solid #ec2c33;
  color: #fff;
}
.main-btn-ghost-primary:hover {
  background-color: #d3131a;
  border-color: #d3131a;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-ghost-primary:active {
  background-color: #f25a61;
  border-color: #f25a61;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-ghost-secondary {
  background: transparent;
  border: 1px solid #606583;
  color: #fff;
}
.main-btn-ghost-secondary:hover {
  background-color: #353849;
  border-color: #353849;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-ghost-secondary:active {
  background-color: #080b14;
  border-color: #a50b13;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-primary {
  background: transparent;
  color: #ec2c33;
}
.main-btn-link-primary:hover {
  color: #d3131a;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-secondary {
  background: transparent;
  color: #1f222d;
}
.main-btn-link-secondary:hover {
  color: #353849;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn.btn-size {
  width: 100%;
}
.main-btn.btn-size-sm {
  padding: 0.5rem 1rem;
}
.main-btn.btn-size-md {
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}
.main-btn.btn-size-lg {
  padding: 1.25rem 2.5rem;
}

table {
  width: 100%;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

hr {
  margin: 1rem 0;
  width: 100%;
}

a {
  color: #ec2c33;
  text-transform: uppercase;
  font-weight: 600;
}
a:hover {
  color: #f25a61;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
ul,
li {
  position: relative;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 3rem;
}
@media (max-width: 991px) {
  h1,
.h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  h1,
.h1 {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
}
@media (max-width: 991px) {
  h2,
.h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  h2,
.h2 {
    font-size: 1.4em;
    line-height: 40px;
  }
}

h3,
.h3 {
  font-size: 1.75rem;
}
@media (max-width: 991px) {
  h3,
.h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  h3,
.h3 {
    font-size: 1.25rem;
  }
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 32px;
}

.p-large {
  font-size: 1.25rem;
}
@media (max-width: 991px) {
  .p-large {
    font-size: 1.5rem;
  }
}

.p-regular {
  font-size: 1rem;
}

.p-small {
  font-size: 0.9rem;
}

.overline-large {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1.25rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  .overline-large {
    font-size: 1rem;
  }
}

.overline-regular {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  font-weight: 300;
}

.overline-small {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  .overline-small {
    font-size: 0.8rem;
  }
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1f222d;
}

form {
  z-index: 2;
  position: relative;
}
form .input-wrapper {
  margin-bottom: 1rem;
}
form .input-wrapper:last-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  form .input-wrapper:last-child {
    margin-top: 1rem;
  }
}
form input, form textarea {
  padding: 1rem;
  border: 1px solid #d2d4e0;
  width: 100%;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
form input:focus, form textarea:focus {
  box-shadow: none;
  outline: 1px solid #ec2c33;
  border: 1px solid #ec2c33;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
form textarea {
  min-height: 100%;
}
form label {
  font-weight: 700;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.25rem;
}
form button {
  margin-top: 2rem;
  border: none;
  font-weight: 600;
  padding: 1rem 3rem !important;
}
@media (max-width: 991px) {
  form button {
    width: 100%;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?giliyk");
  src: url("../fonts/icons/icomoon.eot?giliyk#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?giliyk") format("truetype"), url("../fonts/icons/icomoon.woff?giliyk") format("woff"), url("../fonts/icons/icomoon.svg?giliyk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-smartphone:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-message-circle:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-minus-circle:before {
  content: "";
}

.icon-plus-circle:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-arrow-left-circle:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right-circle:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-alert-circle:before {
  content: "";
}

.icon-x-circle:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ly-header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
}

.ly-footer {
  background: #1d1d1d;
  font-family: "Source Sans Pro", sans-serif;
}
.ly-footer .row {
  padding: 2rem 0 2rem 5rem;
}
@media (max-width: 991px) {
  .ly-footer .row {
    padding: 2rem 0;
  }
}
@media (max-width: 991px) {
  .ly-footer .col-lg-4 {
    padding-bottom: 2rem;
  }
  .ly-footer .col-lg-4:first-child {
    padding-bottom: 0;
  }
}
.ly-footer span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #eef1fa;
  display: block;
  margin-bottom: 1rem;
}
.ly-footer address {
  color: #999;
  color: #eef1fa;
  font-size: 0.9rem;
}
.ly-footer a {
  font-weight: 400;
  text-transform: unset;
}
.ly-footer ul li {
  margin: 0.25rem 0;
  color: #eef1fa;
  font-size: 0.9rem;
}
.ly-footer ul li:first-child {
  margin: 0 0 0.25rem;
}
.ly-footer p {
  color: #999;
  font-size: 0.8rem;
  font-family: "Source Sans Pro", sans-serif;
}
.ly-footer p:nth-child(1) {
  font-weight: 700;
  color: #eef1fa;
}
.ly-footer p:nth-child(2) {
  line-height: 1.5;
  max-width: 330px;
}
@media (max-width: 991px) {
  .ly-footer p:nth-child(2) {
    max-width: unset;
  }
}
.ly-footer p:nth-child(3) {
  margin-bottom: 0;
}

.ly-content {
  margin-top: 85px;
}
@media (max-width: 991px) {
  .ly-content {
    margin-top: 62px;
  }
}

.md-box {
  width: 100%;
  overflow: hidden;
}
.md-box .bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-card {
  width: 100%;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.md-navbar {
  padding: 1.5rem 0;
  background: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 991px) {
  .md-navbar {
    padding: 1rem 0;
  }
}
.md-navbar .navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.md-navbar .navbar-brand img {
  width: 150px;
  height: auto;
}
@media (max-width: 768px) {
  .md-navbar .navbar-brand img {
    width: 120px;
  }
}
.md-navbar .navbar-toggler {
  width: 34px;
  height: 30px;
  margin: 8px 0 0;
  border: none;
  position: relative;
}
.md-navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.md-navbar .navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ec2c33;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-navbar .navbar-toggler span:nth-child(1) {
  top: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-navbar .navbar-toggler span:nth-child(2) {
  top: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-navbar .navbar-toggler span:nth-child(3) {
  top: 20px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-navbar ul {
  margin-left: auto;
  margin-right: unset;
}
@media (max-width: 991px) {
  .md-navbar ul {
    margin-top: 1rem;
  }
}
.md-navbar ul.navbar-nav {
  position: relative;
}
.md-navbar ul.navbar-nav:after {
  content: "";
  background: #d2d4e0;
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}
@media (max-width: 991px) {
  .md-navbar ul.navbar-nav:after {
    display: none;
  }
}
.md-navbar ul li {
  margin-right: 3rem;
}
@media (max-width: 991px) {
  .md-navbar ul li {
    margin: 0.5rem 0;
  }
}
.md-navbar ul li a {
  font-size: 1rem;
  color: #1f222d !important;
  font-weight: 500;
  text-transform: unset;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 2px solid transparent;
  padding: 0.15rem 0 0.15rem !important;
}
@media (max-width: 991px) {
  .md-navbar ul li a {
    padding: 0.5rem 0 !important;
    font-size: 1.25rem;
    border-bottom: none;
  }
}
.md-navbar ul li a:hover {
  opacity: 1;
  border-bottom: 2px solid #1f222d;
}
@media (max-width: 991px) {
  .md-navbar ul li a:hover {
    border-bottom: none;
    color: #ec2c33 !important;
  }
}
.md-navbar .nav-contact {
  margin-left: 2rem;
}
.md-navbar .nav-contact a {
  position: relative;
  top: -1px;
}
.md-navbar .nav-contact i {
  position: relative;
  top: 1px;
}
@media (max-width: 991px) {
  .md-navbar .nav-contact {
    margin: 0;
    padding: 1rem 0 0;
    border-top: 1px solid #d2d4e0;
  }
}
@media (max-width: 991px) {
  .md-navbar .nav-contact ul {
    margin: 0;
  }
}
.md-navbar .nav-contact a {
  color: #ec2c33 !important;
  text-decoration: none;
}
.md-navbar .nav-contact a:hover {
  border-bottom: 0;
  color: #d3131a !important;
}
.md-navbar .nav-contact a i {
  display: inline-block;
  margin-right: 0.5rem;
}

.scrolling .md-navbar {
  padding: 1.25rem 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 991px) {
  .scrolling .md-navbar {
    padding: 1rem 0;
    border-bottom: 1px solid #d2d4e0;
  }
}

a[name] {
  top: -55px;
  position: absolute;
}
@media (max-width: 991px) {
  a[name] {
    top: -80px;
  }
}

.md-header-mp {
  padding: 0;
  position: relative;
}
@media (max-width: 991px) {
  .md-header-mp:after {
    display: none;
  }
  .md-header-mp:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(53, 56, 73, 0.9);
    z-index: 2;
    height: 100%;
    width: 100%;
  }
}
.md-header-mp .container {
  position: relative;
  z-index: 2;
}
.md-header-mp .container h1 {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .md-header-mp .container h1 {
    color: #eef1fa;
  }
}
.md-header-mp .container p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 36px;
}
@media (max-width: 991px) {
  .md-header-mp .container p {
    color: #eef1fa;
  }
}
.md-header-mp .container a {
  display: inline-block;
}
.md-header-mp .container .col-12:nth-child(2) {
  padding: 5rem;
}
@media (max-width: 991px) {
  .md-header-mp .container .col-12:nth-child(2) {
    padding: 3rem 15px;
  }
}
.md-header-mp .image-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
@media (max-width: 991px) {
  .md-header-mp .image-wrapper {
    width: 100%;
    z-index: 0;
  }
}
.md-header-mp .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.md-heading-primary {
  margin-bottom: 6rem;
}
@media (max-width: 991px) {
  .md-heading-primary {
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .md-heading-primary {
    margin-bottom: 2rem;
  }
}

.md-services {
  padding: 6rem 0 3rem 10rem;
}
@media (max-width: 991px) {
  .md-services {
    padding: 3rem 0;
  }
}
.md-services .col-lg-4:nth-child(-n+3) .service-item {
  padding-bottom: 6rem;
}
@media (max-width: 991px) {
  .md-services .col-lg-4:nth-child(-n+3) .service-item {
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .md-services .col-lg-4:nth-child(-n+3) .service-item {
    padding-bottom: 2rem;
  }
}
.md-services .service-item {
  position: relative;
  z-index: 3;
  text-align: left;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .md-services .service-item {
    justify-content: unset;
  }
}
@media (max-width: 768px) {
  .md-services .service-item {
    text-align: center;
  }
}
.md-services .service-item img {
  width: fit-content;
  height: 90px;
  display: inline-block;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .md-services .service-item img {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .md-services .service-item img {
    height: 60px;
    margin: 0 auto 0.6rem;
  }
}
@media (max-width: 576px) {
  .md-services .service-item img {
    height: 50px;
  }
}
@media (max-width: 576px) {
  .md-services .service-item p {
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: center;
  }
}

.md-about {
  position: relative;
}
@media (max-width: 768px) {
  .md-about {
    padding: 3rem 0;
  }
}
@media (max-width: 991px) {
  .md-about:after, .md-about:before {
    display: none;
  }
}
.md-about .container {
  position: relative;
  z-index: 2;
}
.md-about .container h2 {
  margin-bottom: 2rem;
}
.md-about .container .col-12 {
  padding: 0 5rem;
}
@media (max-width: 991px) {
  .md-about .container .col-12 {
    padding: 3rem 15px;
  }
}
@media (max-width: 768px) {
  .md-about .container .col-12 {
    padding: 0 15px;
  }
}
.md-about .img-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .md-about .img-wrapper {
    width: 100%;
    padding: 0;
    display: none;
  }
}
.md-about .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.md-projects {
  background: #1f222d;
}
.md-projects:before, .md-projects:after {
  content: "";
  background: #353849;
}
.md-projects h2 {
  padding: 0 5rem;
  color: #eef1fa;
}
@media (max-width: 991px) {
  .md-projects h2 {
    padding: 0;
  }
}
.md-projects .row {
  padding-bottom: 2rem;
}
.md-projects .col-12 .modal-link {
  margin: 0 0 3rem;
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  height: 350px;
  position: relative;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 991px) {
  .md-projects .col-12 .modal-link {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .md-projects .col-12 .modal-link {
    height: 250px;
  }
}
.md-projects .col-12 .modal-link:hover {
  cursor: pointer;
}
.md-projects .col-12 .modal-link:hover > img {
  transform: scale(1.05, 1.05);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-projects .col-12 .modal-link:hover .open-gallery {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-projects .col-12 .modal-link:hover span {
  right: -270px;
}
@media (max-width: 768px) {
  .md-projects .col-12 .modal-link:hover span {
    right: -100%;
  }
}
.md-projects .col-12 .modal-link .open-gallery {
  z-index: 4;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(236, 45, 51, 0.7);
  color: #eef1fa;
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-projects .col-12 .modal-link > img {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.md-projects .col-12 .modal-link span {
  display: flex;
  background: rgba(74, 79, 103, 0.8);
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 270px;
  right: 0px;
  top: 0;
  bottom: 0;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 768px) {
  .md-projects .col-12 .modal-link span {
    width: 100%;
  }
}
.md-projects .col-12 .modal-link span img {
  width: 80px;
  display: inline-block;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .md-projects .col-12 .modal-link span img {
    width: 60px;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .md-projects .col-12 .modal-link span img {
    width: 50px;
    margin-bottom: 1rem;
  }
}
.md-projects .col-12 .modal-link span p {
  color: #eef1fa;
}
@media (max-width: 991px) {
  .md-projects .col-12 .modal-link span p {
    font-size: 1.1rem;
  }
}

.md-contact h2 {
  padding: 0 5rem;
}
@media (max-width: 991px) {
  .md-contact h2 {
    padding: 0;
  }
}
.md-contact form {
  padding: 0 5rem;
}
@media (max-width: 991px) {
  .md-contact form {
    padding: 0;
  }
}
.md-contact .col-lg-6:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.md-contact .col-lg-6:nth-child(2) .input-wrapper {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.md-contact .col-lg-6:nth-child(2) .input-wrapper textarea {
  flex: 1;
}

.md-modal .modal-dialog {
  min-width: 1100px;
}
@media (max-width: 1199px) {
  .md-modal .modal-dialog {
    min-width: 991px;
  }
}
@media (max-width: 991px) {
  .md-modal .modal-dialog {
    min-width: 768px;
  }
}
@media (max-width: 768px) {
  .md-modal .modal-dialog {
    min-width: unset;
  }
}
.md-modal .modal-dialog .modal-header {
  border-radius: 0;
  border: none;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .md-modal .modal-dialog .modal-header {
    padding: 1rem 1rem 0;
  }
}
.md-modal .modal-dialog .modal-header .btn-close {
  position: relative;
  background: none;
  opacity: 1;
}
.md-modal .modal-dialog .modal-header .btn-close:hover:after, .md-modal .modal-dialog .modal-header .btn-close:hover:before {
  background: #d3131a;
}
.md-modal .modal-dialog .modal-header .btn-close:after, .md-modal .modal-dialog .modal-header .btn-close:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #ec2c33;
  left: 0;
}
.md-modal .modal-dialog .modal-header .btn-close:before {
  transform: rotate(45deg);
}
.md-modal .modal-dialog .modal-header .btn-close:after {
  transform: rotate(-45deg);
}
.md-modal .modal-dialog .modal-body {
  border-radius: 0;
  border: none;
  padding: 0 2rem 2rem;
}
@media (max-width: 991px) {
  .md-modal .modal-dialog .modal-body {
    padding: 0 1rem 1rem;
  }
}
.md-modal .modal-dialog .modal-content {
  border-radius: 0;
}

.media {
  border-top: 5px solid;
}

/*# sourceMappingURL=main.css.map */
