@charset "utf-8";

.md-services {
  padding: 6rem 0 3rem 10rem;
  @media (max-width: $bp-tablet) {
    padding: 3rem 0;
  }
  .col-lg-4 {
    &:nth-child(-n + 3) {
      .service-item {
        padding-bottom: 6rem;
        @media (max-width: $bp-tablet) {
          padding-bottom: 3rem;
        }
        @media (max-width: $bp-phone) {
          padding-bottom: 2rem;
        }
      }
    }
  }
  .service-item {
    position: relative;
    z-index: 3;
    text-align: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $bp-tablet) {
      justify-content: unset;
    }
    @media (max-width: $bp-phone) {
      text-align: center;
    }
    img {
      width: fit-content;
      height: 90px;
      display: inline-block;
      margin-bottom: 1rem;
      @media (max-width: $bp-tablet) {
        height: 80px;
      }
      @media (max-width: $bp-phone) {
        height: 60px;
        margin: 0 auto .6rem;
      }
      @media (max-width: $bp-phone-small) {
        height: 50px;
      }
    }
    p {

      @media (max-width: $bp-phone-small) {
        font-size: .9rem;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
}
