@charset "utf-8";

.md-services {
  padding: 6rem 0 3rem 10rem;
  .col-lg-4 {
    &:nth-child(-n + 3) {
      .service-item {
        padding-bottom: 6rem;
      }
    }
  }
  .service-item {
    text-align: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: fit-content;
      height: 90px;
      display: inline-block;
      margin-bottom: 1rem;
    }
    p {
    }
  }
}
