@charset "utf-8";

.md-navbar {
  padding: 1.5rem 0;
  background: $c-white;
  @media (max-width: $bp-tablet) {
    padding: 1rem 0;
  }
  @include smooth-transition($primary-transition);
  .custom-logo-link {
    padding: 0;
    margin: 0;
    font-size: 0;
    img {
      width: 150px;
      height: auto;
      @media (max-width: $bp-phone) {
        width: 120px;
      }
    }
  }

  .navbar-toggler {
    width: 34px;
    height: 30px;
    margin: 8px 0 0;
    border: none;
    position: relative;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $c-primary-400;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      @include smooth-transition($primary-transition);
      &:nth-child(1) {
        top: 0;
        @include smooth-transition($primary-transition);
      }
      &:nth-child(2) {
        top: 10px;
        @include smooth-transition($primary-transition);
      }
      &:nth-child(3) {
        top: 20px;
        @include smooth-transition($primary-transition);
      }
    }
  }
  ul {
    display: flex;
    margin-left: auto;
    margin-right: unset;
    position: relative;
    &:after {
      content: "";
      background: $c-secondary-100;
      width: 1px;
      height: 100%;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      @media (max-width: $bp-tablet) {
        display: none;
      }
    }
    @media (max-width: $bp-tablet) {
      margin-top: 1rem;
    }
    li {
      margin-right: 3rem;
      @media (max-width: $bp-tablet) {
        margin: 0.5rem 0;
      }
      a {
        display: block;
        font-size: 1rem;
        color: $c-secondary-800 !important;
        font-weight: 500;
        text-transform: unset;
        font-family: $f-secondary;
        border-bottom: 2px solid transparent;
        padding: 0.15rem 0 0.15rem !important;
        text-decoration: none;
        @include smooth-transition($primary-transition);
        @media (max-width: $bp-tablet) {
          padding: 0.5rem 0 !important;
          font-size: 1.25rem!important;
          border-bottom: none!important;
        }
        &:hover {
          opacity: 1;
          border-bottom: 2px solid $c-secondary-800;
          @include smooth-transition($primary-transition);
          @media (max-width: $bp-tablet) {
            border-bottom: none!important;
            color: $c-primary-400 !important;
          }
        }
        i {
        }
        &.active {
          // color: $c-primary-400!important;
          // border-color: $c-primary-400;
        }
        &:hover {
        }
      }
    }
  }
  .nav-contact {
    margin-left: 2rem;
    i {
      position: relative;
      top: 1px;
    }
    @media (max-width: $bp-tablet) {
      margin: 0;
      padding: 1rem 0 0;
      border-top: 1px solid $c-secondary-100;
    }
    ul {
      &:after{
        display: none;
      }
      @media (max-width: $bp-tablet) {
        margin: 0;
      }
    }
    a {
      position: relative;
      top: -1px;
      color: $c-primary-400 !important;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      text-transform: unset;
      font-family: $f-secondary;
      border-bottom: 2px solid transparent;
      padding: 0.15rem 0 0.15rem !important;
      &:hover {
        border-bottom: 0;
        color: $c-primary-500 !important;
      }
      @media (max-width: $bp-tablet) {
      }
      i {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }
}

.navbar-collapse{
  justify-content: end;
}

.scrolling {
  .md-navbar {
    padding: 1.25rem 0;
    @include smooth-transition($primary-transition);
    @media (max-width: $bp-tablet) {
      padding: 1rem 0;
      border-bottom: 1px solid $c-secondary-100;
    }
  }
}

//if website is onepage use <a name="hrefId">
//offset cause fixed navbar
a[name] {
  top: -55px; //based on navigation height (breakpoint)
  position: absolute;
  @media (max-width: $bp-tablet) {
    top: -80px; //based on navigation height
  }
}


.customize-support{
  .md-navbar{
    top: 32px
  }
}