section {
  background: #f4f5fa;
  padding: 4rem 0;
  position: relative;

  @media (max-width: $bp-phone) {
    padding: 3rem 0;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    background: #e0e2f0;
    width: 1px;
    height: 100%;
    @media (max-width: $bp-phone) {
      display: none;
    }
  }
  &:before {
    left: 33.333%;
  }
  &:after {
    right: 33.333%;
  }
}
